{% extends 'includes/base.html' %}
{% load static %}
{% block body %}
{% include 'includes/navbar.html' %}
<div class="title">
    <h1>Our Gallery</h1>
    <p>You Can Find All Recommended Photos For You</p>
</div>
<div class="gallery">
    <div class="container">
        <div class="card-deck">
            {% for painting in paintings %}
            <div class="painting" onclick="window.open('{{ painting.PaintingName }}/{{ painting.id }}', '_self')">
                <div class="overlay">
                    {% if painting.HasAds %}<i class="fas fa-ad"></i>{% endif %}
                    <p class="ptitle">{{ painting.PaintingName }}</p>
                    <p class="artistname ptitle">BY: {{ painting.Artist }}</p>
                </div>
                <img src="uploads/{{ painting.Painting }}" alt="{{ painting.PaintingName }} By {{ painting.Artist }}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}