{% extends 'includes/base.html' %}
{% block title %}| Register{% endblock %}
{% block head %}
<style>
    body {
        background:
        linear-gradient(to left top, #c579f3 0%, #f16b62 100%),
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
        background-attachment:fixed;
        height:100%;
    }
</style>
{% endblock %}
{% block body %}
<section id="registrationform">
    <div class="content">
        <h2>Register An Account</h2>
        {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
        <form action="/register/" method="post">
            {% csrf_token %}
            <div class="input">
                <i class="username fal fa-user login-icon"></i>
                <input class="form-control login-input" type="text" id="username" name="username" placeholder="Username">
            </div>
            <div class="input">
                <i class="email fal fa-user login-icon"></i>
                <input class="form-control login-input" type="text" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="input">
                <i class="password fal fa-lock login-icon"></i>
                <input class="form-control login-input" type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="buttons">
                <button class="button" type="submit">REGISTER</button>
                <div class="links">
                    <a href="/forgetpassword">Forget Password?</a>
                    <a href="/login">Have An Account?</a>
                </div>
            </div>
        </form>
        <p class="description">
            Start Your Story From Here By One Click And Convert Your Tallent To Your Brand New Career And Get Benefits From It. Your Benefits Could Be Experience Or Even A Good Amount Of Bucks
        </p>
    </div>
</section>
{% endblock %}