#navbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1.5rem 8rem;
  background: #333;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: background 0.3s;
}
#navbar #nav-icon {
  display: none;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  transition: background 0.3s;
  margin: auto 0;
}
#navbar h2 a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #fff;
}
#navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-size: 1.03rem;
  margin: 0 0.5rem;
  font-weight: 500;
  transition: border-bottom 0.1s;
  text-transform: uppercase;
}
#navbar li a:hover {
  background: #ff6333;
}
#navbar li a.visited {
  background-color: #fa7d09;
}
#navbar .dropdown-icon {
  margin-left: 10px;
}
#navbar li ul {
  flex-direction: column;
  position: absolute;
  top: 40px;
  padding-top: 30px;
  padding: 2rem;
  background: #333;
  display: none;
}
#navbar li ul li:first-child {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}
#navbar li ul li a {
  background: transparent;
  cursor: pointer;
}
#navbar .mobile-only {
  display: none;
}

@media screen and (max-width: 1100px) {
  #navbar {
    padding: 1.5rem 0;
  }
  #navbar #nav-icon {
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 23.4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #navbar #nav-icon div {
    width: 33px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
  }
  #navbar h2 a {
    font-size: 1.5rem;
    margin-left: 20px;
    float: left;
  }
  #navbar ul {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 5rem;
    background-color: #0b6894;
    display: grid;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 3rem 1.5rem;
    padding-bottom: 3rem;
    justify-content: space-around;
    text-align: center;
    overflow-y: scroll;
  }
  #navbar ul li a {
    opacity: 0;
    transform: translateX(50px);
    display: block;
  }
  #navbar ul .mobile-only {
    display: block;
  }
  #navbar ul .dropdown {
    display: none;
  }
  #navbar #nav-icon div {
    transition: all 0.3s ease;
  }
  #navbar .nav-active {
    transform: translateX(0%);
  }
  #navbar .toggle .line1 {
    transform: translateY(8px) rotate(-45deg);
  }
  #navbar .toggle .line2 {
    opacity: 0;
  }
  #navbar .toggle .line3 {
    transform: translateY(-8px) rotate(45deg);
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
footer {
  background: #333;
  color: white;
  border-top: 5px solid #616161;
  text-align: center;
  padding: 50px 0;
}
footer .icons {
  margin-bottom: 30px;
}
footer .icons i {
  color: #ff6333;
  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 18px 0;
  font-size: 25px;
  margin-right: 10px;
  transition: background 0.3s;
}
footer .icons i:hover {
  background: #a7a4a4;
}
footer .content .links {
  margin-bottom: 20px;
}
footer .content .links a {
  color: #fff;
  text-decoration: none;
}
footer .content .links .period {
  height: 7px;
  width: 7px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}

#registrationform {
  background: #222632;
  max-width: 540px;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 650px;
  margin-top: 150px;
  border-top: 3px solid #ff6333;
  color: #fff;
}
@media screen and (max-width: 424px) {
  #registrationform {
    margin: 0;
    height: 100%;
  }
}
#registrationform .content {
  padding-top: 120px;
}
#registrationform h2 {
  color: #8f92a1;
  margin-left: 30px;
  margin-bottom: 60px;
}
@media screen and (max-width: 424px) {
  #registrationform h2 {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
  }
}
#registrationform i {
  position: absolute;
  margin-top: 18.5px;
  margin-left: 30px;
  color: #7d8093;
}
#registrationform input {
  background: #33354a;
  color: #fff;
  padding: 25px;
  padding-left: 70px;
  border: 0;
  outline: 0;
  border-top: 1px solid #3e4154;
  border-bottom: 1px solid #3e4154;
  border-radius: 0;
  width: 100%;
}
#registrationform input:focus > i {
  color: #fff;
}
#registrationform .buttons {
  display: flex;
}
@media screen and (max-width: 424px) {
  #registrationform .buttons {
    display: block;
  }
}
#registrationform .button {
  background: transparent;
  border: 3px solid #ff6333;
  color: #fff;
  border-radius: 35px;
  padding: 15px 80px;
  outline: 0;
  margin-top: 40px;
  margin-left: 30px;
  transition: background 0.3s, color 0.3s;
}
#registrationform .button:hover {
  background: #0000000d;
  border-color: #ff3c00;
}
@media screen and (max-width: 424px) {
  #registrationform .button {
    margin-left: auto;
    width: 100%;
  }
}
#registrationform .links {
  margin-left: 20px;
  margin-top: 45px;
}
@media screen and (max-width: 424px) {
  #registrationform .links {
    display: flex;
    justify-content: center;
  }
}
#registrationform .links a {
  color: #8f92a1;
  margin-right: 10px;
  margin-bottom: 7px;
  display: block;
}
#registrationform .description {
  color: #8f92a1;
  margin-top: 120px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 15px;
}
@media screen and (max-width: 424px) {
  #registrationform .description {
    margin: 0;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  overflow-x: hidden;
}

.primary-text {
  color: #ff6333;
}

#main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/background3.jpg") center;
  width: 100%;
  min-height: 700px;
}
#main .container {
  padding-top: 10rem;
}
@media screen and (max-width: 1100px) {
  #main .container {
    padding-top: 2rem;
  }
}
#main .title {
  color: #fff;
  font-size: 6rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 1100px) {
  #main .title {
    font-size: 5rem;
  }
}

#about .title {
  text-align: center;
  padding: 5rem 0 3rem 0;
}
#about .title h1 {
  font-size: 3rem;
}
#about .title p {
  font-size: 1.2rem;
}
#about .container {
  max-width: 1400px;
}
#about .card-deck .card {
  padding: 30px;
  display: flex;
  text-align: center;
  -webkit-box-shadow: 0 3px 7px #777;
  -moz-box-shadow: 0 3px 7px #777;
  box-shadow: 0 3px 7px #777;
}
#about .card-deck .card i {
  color: #ff6333;
  font-size: 4rem;
  margin-bottom: 20px;
}
#about .card-deck .card p {
  font-size: 1.1rem;
}
#about .card-deck .card:hover {
  -webkit-box-shadow: 0 4px 16px #777;
  -moz-box-shadow: 0 4px 16px #777;
  box-shadow: 0 4px 16px #777;
}

#topartists {
  padding: 5rem 0;
}
#topartists .container {
  max-width: 1250px;
}
#topartists .title {
  margin-bottom: 50px;
}
#topartists img {
  height: 325px;
}

#ad {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/secondcontainer.jpg") center no-repeat;
  min-height: 500px;
  color: #fff;
}
#ad .title {
  font-size: 4rem;
  text-align: center;
  padding: 5rem 0;
  height: 500px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 370px) {
  #ad .title {
    font-size: 3rem;
  }
}

#top-paintings {
  padding: 5rem 0;
}
#top-paintings .container {
  max-width: 1400px;
}
#top-paintings .title {
  margin-bottom: 50px;
}
#top-paintings img {
  height: 450px;
}

/*# sourceMappingURL=style.css.map */
