#registrationform {
    background: #222632;
    max-width: 540px;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 650px;
    margin-top: 150px;
    border-top: 3px solid $maincolor;
    color: #fff;
    @media screen and (max-width: 424px) {
        margin: 0;
        height: 100%;
    }
    .content {
        padding-top: 120px
    }
    h2 {
        color: #8f92a1;
        margin-left: 30px;
        margin-bottom: 60px;
        @media screen and (max-width: 424px) {
            margin: 0;
            margin-bottom: 60px;
            text-align: center;
        }
    }
    i {
        position: absolute;
        margin-top: 18.5px;
        margin-left: 30px;
        color: #7d8093
    }
    input {
        background: #33354a;
        color: #fff;
        padding: 25px;
        padding-left: 70px;
        border: 0;
        outline: 0;
        border-top: 1px solid #3e4154;
        border-bottom: 1px solid #3e4154;
        border-radius: 0;
        width: 100%;
        &:focus > i {
            color: #fff
        }
    }
    .buttons {
        display: flex;
        @media screen and (max-width: 424px) {
            display: block;
        }
    }
    .button {
        background: transparent;
        border: 3px solid $maincolor;
        color: #fff;
        border-radius: 35px;
        padding: 15px 80px;
        outline: 0;
        margin-top: 40px;
        margin-left: 30px;
        transition: background 0.3s, color 0.3s;
        &:hover {
            background: #0000000d;
            border-color: #ff3c00;
        }
        @media screen and (max-width: 424px) {
            margin-left: auto;
            width: 100%;
        }
    }
    .links {
        margin-left: 20px;
        margin-top: 45px;
        @media screen and (max-width: 424px) {
            display: flex;
            justify-content: center;
        }
        a {
            color: #8f92a1;
            margin-right: 10px;
            margin-bottom: 7px;
            display: block;
        }
    }
    .description {
        color: #8f92a1;
        margin-top: 120px;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 15px;
        @media screen and (max-width: 424px) {
            margin: 0;
            margin-top: 50px;
            text-align: center;
            padding-bottom: 20px;
        }
    }
}