<footer>
    <div class="container">
        <div class="icons">
            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="content">
            <div class="links"><div class="wrap-block"><a href="/info">Info</a> <span class="period"></span> <a href="/support">Support</a> <span class="period"></span>
                <a href="/marketing">Marketing</a></div> <a href="/termsofuse">Terms of Use</a> <span class="period"></span> <a href="/privacypolicy">Privacy Policy</a></div>
            <div class="copyright">&copy; All Right Reserved &reg; To Artarena Team 2020</div>
        </div>
    </div>
</footer>